body {
  background: #fafafa;
}

.form-control {

  &:focus {
    box-shadow: none;
    /* your new styles */
  }

}

.list-inline-separated {
  @extend .list-inline;

  li {
    // adjust leading spacing for each additional item
    margin-left: -10px;

    &:first-child {

      // no leading spacing for initial item
      margin-left: 0px;
    }

    &:after {
      content: '\2022'; // bullet
      margin: 0 5px;
    }

    // no bullet on last
    &:last-child:after {
      content: '';
    }
  }
}